extends ./layout

block content
  .hero-unit
    h2 Book Hotel
    table.table
      tr
        th Name:
        td= hotel.name
      tr
        th Address:
        td= hotel.address
      tr
        th City, State:
        td= hotel.city + ', ' + hotel.state
      tr
        th Zip:
        td= hotel.zip
      tr
        th Country:
        td= hotel.country
      tr
        th Nightly rate:
        td= hotel.price

    form.form(id="booking",action="/travel/#{db}/confirm",method="post")
      input(type="hidden",name="hotelId",value="#{hotel.id}")
      .control-group
        label.control-label(for="checkinDate") Check In:
        input(id="checkinDate",name="checkinDate",type="text")

      .control-group
        label.control-label(for="checkoutDate") Check Out:
        input(id="checkoutDate",name="checkoutDate",type="text")

      .control-group
        label.control-label(for="beds") Room Preference:
        select(id="beds",name="beds")
          option(value="1") One king-size bed
          option(value="2") Two double beds
          option(value="3") Three beds

      .control-group
        label.control-label(for="smoking") Smoking Preference:
        input(id="smoking",name="smoking",type="radio",value="true")
        label.control-label(for="smoking") Smoking
        input(id="non-smoking",name="smoking",type="radio",value="false",checked="checked")
        label.control-label(for="non-smoking") Non Smoking


      .control-group
        label.control-label(for="creditCard") Credit Card #:
        input(id="creditCard",name="creditCard",type="text",value="")

      .control-group
        label.control-label(for="creditCardName") Credit Card Name:
        input(id="creditCardName",name="creditCardName",type="text",value="",maxlength="40")

      .control-group
        label.control-label(for="creditCardExpiryMonth") Expiration Date:
        .controls
          select(id="creditCardExpiryMonth",name="creditCardExpiryMonth",style="width:5.5em")
            option(value="1") Jan
            option(value="2") Feb
            option(value="3") Mar
            option(value="4") Apr
            option(value="5") May
            option(value="6") Jun
            option(value="7") Jul
            option(value="8") Aug
            option(value="9") Sep
            option(value="10") Oct
            option(value="11") Nov
            option(value="12") Dec
          select(id="creditCardExpiryYear",name="creditCardExpiryYear",style="width:5.5em")
            option(value="1") 2012
            option(value="2") 2013
            option(value="3") 2014
            option(value="4") 2015
            option(value="5") 2016


      .control-group
        input.btn.btn-primary(name="proceed", type="submit", value="Proceed")
        &nbsp;
        input.btn(name="cancel", type="submit", value="Cancel")

    p Page rendered in {elapsed_time} ms
