<div class='hero-unit'>

    <h2>View Hotel</h2>

    <table class='table'>
      <tr>
          <th>Name:</th>
          <td><%= hotel.name %></td>
      </tr>
      <tr>
          <th>Address:</th>
          <td><%= hotel.address %></td>
      </tr>
      <tr>
          <th>City:</th>
          <td><%= hotel.city %></td>
      </tr>
      <tr>
          <th>State:</th>
          <td><%= hotel.state %></td>
      </tr>
      <tr>
          <th>Zip:</th>
          <td><%= hotel.zip %></td>
      </tr>
      <tr>
          <th>Country:</th>
          <td><%= hotel.country %></td>
      </tr>
      <tr>
          <th>Nightly rate:</th>
          <td><%= hotel.price %></td>
      </tr>
    </table>
    <form action="/travel/<%= db %>/booking" method="post">
        <input type="hidden" name="hotelId" value="<%= hotel.id %>" />
        <div class='control-group'>
            <button class="btn btn-primary" name="submit" type="submit">Book Hotel</button>
            &nbsp;
            <button class="btn" name="cancel" type="submit">Back to Search</button>
        </div>
    </form>
    <p>Page rendered in {elapsed_time} ms</p>
</div>