extends ../layout

block content
  #main
    #hotelSearch.section
      span.errors
        h2 Hotel Results
        p
          a(id="changeSearchLink",href="search?searchString=a&pageSize=5") Change Search
        div#searchResults
          table.summary
            thead
              tr
                th(scope="col") Name
                th(scope="col") Address
                th(scope="col") City, State
                th(scope="col") Zip
                th(scope="col") Action
            tbody
              each hotel in hotels
                tr
                  td= hotel.name
                  td= hotel.address
                  td= hotel.city + ', ' + hotel.state
                  td= hotel.zip
                  td
                    a(href="/hotel/#{hotel.id}") View Hotel
