extends ./layout

block content
  .hero-unit

    h2 View Hotel

    table.table
      tr
        th Name:
        td= hotel.name
      tr
        th Address:
        td= hotel.address
      tr
        th City:
        td= hotel.city
      tr
        th State:
        td= hotel.state
      tr
        th Zip:
        td= hotel.zip
      tr
        th Country:
        td= hotel.country
      tr
        th Nightly rate:
        td= hotel.price

    form(action="/mytravel/booking",method="post")
      input(type="hidden",name="hotelId",value="#{hotel.id}")
      control-group
        button.btn.btn-primary(name="submit", type="submit") Book Hotel
        &nbsp;
        button.btn(name="cancel", type="submit") Back to Search

    p Page rendered in {elapsed_time} ms

