extends ./layout

block content
  .hero-unit
    span.errors
      h2 Hotel Results

    .row
      table.table.table-striped.table-hover.table-condensed
        thead
          tr
            th Name
            th Address
            th City, State
            th Zip
            th Action
        tbody
          each hotel in hotels
            tr
              td= hotel.name
              td= hotel.address
              td= hotel.city + ', ' + hotel.state
              td= hotel.zip
              td
                a.btn(href="/mytravel/hotel/#{hotel.id}") View

    a.btn.btn-primary(id="changeSearchLink",href="search?searchString=a&pageSize=5") Change Search
    p
    p Page rendered in {elapsed_time} ms
